{{ define "main" }}

{{ range where .Data.Pages "Section" "posts" }}
    {{ $pages := .Pages }}
    {{ $paginator := .Paginate $pages }}

    <div class="flex flex-col gap-1">

    <h2 class="title-large">
        {{ if .Params.header }}
        {{ .Params.header }}
        {{ else }}
        {{ .Title }}
        {{ end }}
    </h2>

    {{ with .Content }}
        {{ . }}
    {{ end }}
    </div>

    <section class="flex flex-col gap-10">
    {{ range $index, $pages := $paginator.Pages }}
        {{ partial "list/default" . }}
    {{ end }}
    </section>

    {{ if gt $paginator.TotalPages 1 }}
    {{ partial "list/pagination" . }}
    {{ end }}

{{ end }}

{{ end }}
